---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Daniel Sepulveda">
  <div class="flex min-h-screen flex-col relative z-0">
    <main
      class="flex items-center flex-1 container mx-auto justify-center flex-col"
    >
      <h1 class="text-7xl font-['ClashDisplay'] font-extralight">
        Daniel Sepúlveda
      </h1>
      <button>Confetti</button>
    </main>
  </div>
</Layout>
